export("cdf", "contrast", "deleteRight", "descstat", "findColumn.byname",
       "gmean", "kurto", "lrt", "moda", "pvalt", "pvalz", "skew",
       "timeserplot", "xyboxplot", "xyhist", "xymultiplot")
